<script type="text/javascript">
 require([
     'TYPO3/CMS/SemanticImages/Zeed',
     'TYPO3/CMS/SemanticImages/react',
     'jquery'
 ], function(
     Zeed,
     React,
     $
 ){
     if (HTMLCollection.prototype[Symbol.iterator] ==  null)
         HTMLCollection.prototype[Symbol.iterator] = Array.prototype[Symbol.iterator];
     $(document).ready(function(){
         for (var element of document.getElementsByClassName('zeed-host'))
         {
             var real = element.nextSibling.nextSibling;
             React.render(React.createElement(Zeed, {real: real}), element);
         }
     });
 });
</script>

<f:form action="search" class="form-inline form-inline-spaced">
    <div class="form-group">
		    <div class="input-group">
            <input type="hidden" name="cmd" class="form-control" value="search">
            <style type='text/css'>
             .zeed-host div {z-index:1000;}
            </style>
            <div class="zeed-host"></div>
            <f:form.hidden  name="searchWord" class="form-control" value="{searchWord}" />
            <span class="input-group-btn">
				        <button class="btn btn-default" type="submit"><f:translate id="search">Search</f:translate></button>
            </span>
        </div>
	  </div>
</f:form>
